/* App.css */

/* Estilos generales de la aplicación */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* Fondo predeterminado */
  background-color: #dbdbe2;
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #222;
  color: #fff;
}

/* Estilo para los botones CTA */
.cta-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #0056b3;
}

.about-us {
  font-size: 20px; /* Tamaño de fuente deseado */
}
